In [1]:
from geopy.geocoders import Nominatim
geolocator = Nominatim()
import numpy as np
import pandas as pd

/Users/jianichen1/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: DeprecationWarning: Using Nominatim with the default "geopy/1.21.0" `user_agent` is strongly discouraged, as it violates Nominatim's ToS https://operations.osmfoundation.org/policies/nominatim/ and may possibly cause 403 and 429 HTTP errors. Please specify a custom `user_agent` with `Nominatim(user_agent="my-application")` or by overriding the default `user_agent`: `geopy.geocoders.options.default_user_agent = "my-application"`. In geopy 2.0 this will become an exception.

In [2]:
def geolocate(city=None, country=None):
    '''
    Inputs city and country, or just country. Returns the lat/long coordinates of 
    either the city if possible, if not, then returns lat/long of the center of the country.
    '''
    
    # If the city exists,
    if city != None:
        # Try
        try:
            # To geolocate the city and country
            loc = geolocator.geocode(str(city + ',' + country))
            # And return latitude and longitude
            return (loc.latitude, loc.longitude)
        # Otherwise
        except:
            # Return missing value
            return np.nan
    # If the city doesn't exist
    else:
        # Try
        try:
            # Geolocate the center of the country
            loc = geolocator.geocode(country)
            # And return latitude and longitude 
            return (loc.latitude, loc.longitude)
        # Otherwise
        except:
            # Return missing value
            return np.nan

In [12]:
# Geolocate just a country
geolocate(country='United Kingdom')

(54.7023545, -3.2765753)

In [4]:
metadata=pd.read_csv("BetaCoV_S_nextstrain_0608.csv")
meta_country=metadata.groupby(['country']).count()
meta_country

,strain,virus,accession,date,species,GenBank_Title,Authors,Publications,state,Host,Isolation_Source,lineage
country,,,,,,,,,,,,
Australia,926,926,926,926,926,926,926,0,926,926,0,926
Bangladesh,5,5,5,5,5,5,5,2,0,5,0,5
Belgium,8,8,8,0,8,8,8,8,0,0,0,8
Brazil,11,11,11,7,11,11,11,3,0,7,1,11
Bulgaria,2,2,2,2,2,2,2,1,0,2,0,2
Burkina_Faso,3,3,3,3,3,3,3,3,0,3,0,3
Canada,3,3,3,0,3,3,3,3,2,1,1,3
China,451,451,451,359,451,451,451,236,271,363,244,451
Colombia,2,2,2,2,2,2,2,0,1,2,0,2
Cote_d'Ivoire,7,7,7,7,7,7,7,7,0,7,0,7
Czech_Republic,7,7,7,7,7,7,7,0,0,7,7,7
Denmark,7,7,7,7,7,7,7,7,0,7,7,7
Egypt,4,4,4,4,4,4,4,3,0,4,0,4
Ethiopia,8,8,8,8,8,8,8,6,0,8,2,8
Finland,1,1,1,1,1,1,1,0,0,1,0,1
France,129,129,129,128,129,129,129,32,1,128,14,129
Germany,26,26,26,25,26,26,26,3,15,25,9,26
Greece,99,99,99,99,99,99,99,1,94,99,5,99
Guam,3,3,3,3,3,3,3,0,0,3,3,3
Hong_Kong,62,62,62,49,62,62,62,42,0,49,9,62
India,153,153,153,153,153,153,153,0,134,153,10,153
Iran,4,4,4,4,4,4,4,0,0,4,4,4
Ireland,1,1,1,0,1,1,1,1,0,1,1,1
Israel,2,2,2,2,2,2,2,0,0,2,0,2
Italy,10,10,10,5,10,10,10,8,0,9,7,10
Jamaica,8,8,8,8,8,8,8,0,0,8,8,8
Japan,102,102,102,99,102,102,102,12,28,27,19,102
Jordan,31,31,31,31,31,31,31,3,0,31,28,31
Kazakhstan,4,4,4,4,4,4,4,0,0,4,0,4
Kenya,7,7,7,7,7,7,7,5,0,7,3,7
Malaysia,20,20,20,20,20,20,20,16,16,20,16,20
Mexico,1,1,1,1,1,1,1,0,0,1,1,1
Morocco,4,4,4,4,4,4,4,4,0,4,0,4
Nepal,1,1,1,1,1,1,1,1,0,1,1,1
Netherlands,14,14,14,14,14,14,14,0,1,14,12,14
Nigeria,14,14,14,14,14,14,14,13,0,14,0,14
Oman,5,5,5,5,5,5,5,0,0,5,5,5
Pakistan,3,3,3,3,3,3,3,0,3,3,3,3
Peru,1,1,1,1,1,1,1,0,0,1,0,1
Poland,3,3,3,3,3,3,3,0,0,3,0,3
Puerto_Rico,13,13,13,13,13,13,13,0,0,13,13,13
Qatar,5,5,5,4,5,5,5,4,0,5,1,5
Saudi_Arabia,466,466,466,466,466,466,466,135,2,465,245,466
Serbia,4,4,4,4,4,4,4,0,1,4,0,4
South_Africa,3,3,3,3,3,3,3,2,1,3,1,3
South_Korea,94,94,94,60,94,94,94,69,1,60,63,94
Spain,21,21,21,21,21,21,21,0,5,21,4,21
Sri_Lanka,4,4,4,4,4,4,4,0,0,4,0,4
Sweden,27,27,27,27,27,27,27,26,0,27,26,27
Taiwan,34,34,34,22,34,34,34,12,0,22,20,34
Thailand,68,68,68,68,68,68,68,1,0,68,1,68
Tunisia,1,1,1,1,1,1,1,1,0,1,1,1
Turkey,6,6,6,6,6,6,6,0,0,6,5,6
USA,2934,2934,2934,2904,2934,2934,2807,90,2460,2840,801,2934
Uganda,1,1,1,1,1,1,1,0,0,1,1,1
United_Arab_Emirates,189,189,189,187,189,189,189,180,4,189,162,189
United_Kingdom,12,12,12,12,12,12,12,4,1,9,6,12
Uruguay,1,1,1,1,1,1,1,0,0,1,1,1
Viet_Nam,28,28,28,28,28,28,28,9,2,28,16,28

In [5]:
# Reset the index of dataframe
meta_country = meta_country.reset_index()
meta_country.head()

,country,strain,virus,accession,date,species,GenBank_Title,Authors,Publications,state,Host,Isolation_Source,lineage
0,Australia,926,926,926,926,926,926,926,0,926,926,0,926
1,Bangladesh,5,5,5,5,5,5,5,2,0,5,0,5
2,Belgium,8,8,8,0,8,8,8,8,0,0,0,8
3,Brazil,11,11,11,7,11,11,11,3,0,7,1,11
4,Bulgaria,2,2,2,2,2,2,2,1,0,2,0,2

In [6]:
country = meta_country['country'].tolist()
country[1]

'Bangladesh'

In [7]:
## read a list of country and printout the lat and longs
# getting length of list 
length = len(country) 
   
# Iterating the index 
# same as 'for i in range(len(list))' 
for i in range(length): 
    print(country[i]+ "\t" + str(geolocate(country= country[i])))

Australia	(-24.7761086, 134.755)
Bangladesh	(24.4768783, 90.2932426)
Belgium	(50.6402809, 4.6667145)
Brazil	(-10.3333333, -53.2)
Bulgaria	(42.6073975, 25.4856617)
Burkina_Faso	(12.0753083, -1.6880314)
Canada	(61.0666922, -107.9917071)
China	(35.000074, 104.999927)
Colombia	(2.8894434, -73.783892)
Cote_d'Ivoire	nan
Czech_Republic	nan
Denmark	(55.670249, 10.3333283)
Egypt	(26.2540493, 29.2675469)
Ethiopia	(10.2116702, 38.6521203)
Finland	(63.2467777, 25.9209164)
France	(46.603354, 1.8883335)
Germany	(51.0834196, 10.4234469)
Greece	(38.9953683, 21.9877132)
Guam	(13.450125700000001, 144.75755102972062)
Hong_Kong	(22.2793278, 114.1628131)
India	(22.3511148, 78.6677428)
Iran	(32.6475314, 54.5643516)
Ireland	(52.865196, -7.9794599)
Israel	(31.5313113, 34.8667654)
Italy	(42.6384261, 12.674297)
Jamaica	(18.1152958, -77.1598454610168)
Japan	(36.5748441, 139.2394179)
Jordan	(31.1667049, 36.941628)
Kazakhstan	(47.2286086, 65.2093197)
Kenya	(1.4419683, 38.4313975)
Malaysia	(4.5693754, 102.2656823)
Mexico	(19.4326296, -99.1331785)
Morocco	(31.1728205, -7.3362482)
Nepal	(28.1083929, 84.0917139)
Netherlands	(52.5001698, 5.7480821)
Nigeria	(9.6000359, 7.9999721)
Oman	(21.0000287, 57.0036901)
Pakistan	(30.3308401, 71.247499)
Peru	(-6.8699697, -75.0458515)
Poland	(52.215933, 19.134422)
Puerto_Rico	(22.9109866, -98.0759194)
Qatar	(25.3336984, 51.2295295)
Saudi_Arabia	nan
Serbia	(44.024322850000004, 21.07657433209902)
South_Africa	(-26.16944375, 28.194084597621828)
South_Korea	(37.320906, 127.102115)
Spain	(39.3262345, -4.8380649)
Sri_Lanka	(7.5554942, 80.7137847)
Sweden	(59.6749712, 14.5208584)
Taiwan	(23.59829785, 120.83536313817521)
Thailand	(14.8971921, 100.83273)
Tunisia	(33.8439408, 9.400138)
Turkey	(38.9597594, 34.9249653)
USA	(39.7837304, -100.4458825)
Uganda	(1.5333554, 32.2166578)
United_Arab_Emirates	nan
United_Kingdom	nan
Uruguay	(-32.8755548, -56.0201525)
Viet_Nam	(13.2904027, 108.4265113)