## From clean_spikerm for nextstrain
#### select metadata from seq 
#### get country and region
#### drop df without date
#### rename taxa
#### wirte fasta and metadata

In [3]:
from Bio import SeqIO
import pandas as pd

In [4]:
##combine metadata to seq
records = SeqIO.parse("clear_betaCoV_spikerm.fasta", "fasta")
SeqIO.write(records, "clear_betaCoV_spikerm.tab", "tab")
df = pd.read_csv("clear_betaCoV_spikerm.tab",sep='\t',names=["taxa", "seq"])
df[['acession','version']] = df.taxa.str.split(".",expand=True) 
df

,taxa,seq,acession,version
0,KM349742.1,ATGGTTATAATTTTTCTGCTCTTATTCGCCGAGCCTGTTTTTGGTA...,KM349742,1
1,KM349743.1,ATGGTTATAATTTTTCTGCTCTTATTCGCCGAGCCTGTTTTTGGTA...,KM349743,1
2,KC545383.1,ATGATACGCTCAGCGTGTCTACTGATGTGCTTGTTAATGTTTATAA...,KC545383,1
3,KJ614529.1,ATGATACACTCAGTGTTTCTACTGATGTTCTTGTTAACACCTACAG...,KJ614529,1
4,KC545386.1,ATGATACGCTCAGCGTGTCTACTGATGTGCTTGTTAATGTTTATAA...,KC545386,1
...,...,...,...,...
1468,JQ065049.1,ATGCAGCGATTTGTATTAACTATTTTATTTGTTAACTGTGTTTATG...,JQ065049,1
1469,JQ065048.1,ATGTACAGGTTTGCTATACTAATGTTGGTCATTTCGCCAACCCTAG...,JQ065048,1
1470,JQ065047.1,ATGCAATGTGTTGTTTTAGTTTTAACATTAATTTCAATAGTAACAT...,JQ065047,1
1471,JQ065046.1,ATGCGGGGAGCTATATTAACTTTAATCCTCGTCACATCAGTCAAAG...,JQ065046,1
1472,JQ065042.2,ATGCAGAGAGCTCTATTGATTATGACCTTACTTTGTCTCGTTCGAG...,JQ065042,2

In [12]:
meta = pd.read_csv('BetaCoV_new.csv')
## add seq to acession
data=pd.merge(df, meta, how='left', left_on='acession', right_on='Accession')
data

,taxa,seq,acession,version,Accession,Release_Date,Species,Family,Length,Nuc_Completeness,Authors,Publications,Geo_Location,Host,Isolation_Source,Collection_Date,GenBank_Title
0,KM349742.1,ATGGTTATAATTTTTCTGCTCTTATTCGCCGAGCCTGTTTTTGGTA...,KM349742,1,KM349742,2015-01-04T00:00:00Z,China Rattus coronavirus HKU24,Coronaviridae,31249.0,complete,"Lau,S.K., Woo,P.C., Li,K.S., Tsang,A.K., Fan,R...",25552712,China,Rattus norvegicus,NaN,5/17/12,"Betacoronavirus_HKU24_strain_HKU24-R05005I,_co..."
1,KM349743.1,ATGGTTATAATTTTTCTGCTCTTATTCGCCGAGCCTGTTTTTGGTA...,KM349743,1,KM349743,2015-01-04T00:00:00Z,China Rattus coronavirus HKU24,Coronaviridae,31249.0,complete,"Lau,S.K., Woo,P.C., Li,K.S., Tsang,A.K., Fan,R...",25552712,China,Rattus norvegicus,NaN,5/17/12,"Betacoronavirus_HKU24_strain_HKU24-R05009I,_co..."
2,KC545383.1,ATGATACGCTCAGCGTGTCTACTGATGTGCTTGTTAATGTTTATAA...,KC545383,1,KC545383,2013-10-21T00:00:00Z,Hedgehog coronavirus 1,Coronaviridae,30148.0,complete,"Corman,V.M., Kallies,R., Philipps,H., Gopner,G...",24131722,Germany,Erinaceus europaeus,feces,2012,Betacoronavirus_Erinaceus/VMC/DEU/2012_isolate...
3,KJ614529.1,ATGATACACTCAGTGTTTCTACTGATGTTCTTGTTAACACCTACAG...,KJ614529,1,KJ614529,2014-05-04T00:00:00Z,Middle East respiratory syndrome-related coron...,Coronaviridae,30094.0,complete,"Frey,K.G., Redden,C.L., Bishop-Lilly,K.A., Joh...",24874668,NaN,NaN,NaN,NaN,Human_betacoronavirus_2c_Jordan-N3/2012_isolat...
4,KC545386.1,ATGATACGCTCAGCGTGTCTACTGATGTGCTTGTTAATGTTTATAA...,KC545386,1,KC545386,2013-10-21T00:00:00Z,Hedgehog coronavirus 1,Coronaviridae,30175.0,complete,"Corman,V.M., Kallies,R., Philipps,H., Gopner,G...",24131722,Germany,Erinaceus europaeus,feces,2012,Betacoronavirus_Erinaceus/VMC/DEU/2012_isolate...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1468,JQ065049.1,ATGCAGCGATTTGTATTAACTATTTTATTTGTTAACTGTGTTTATG...,JQ065049,1,JQ065049,3/19/12,HKU21-8295,Coronaviridae,26223.0,NaN,NaN,NaN,China: Hong Kong,common moorhen,NaN,2007,NaN
1469,JQ065048.1,ATGTACAGGTTTGCTATACTAATGTTGGTCATTTCGCCAACCCTAG...,JQ065048,1,JQ065048,3/19/12,HKU20-9243,Coronaviridae,26227.0,NaN,NaN,NaN,China: Hong Kong,wigeon,NaN,2008,NaN
1470,JQ065047.1,ATGCAATGTGTTGTTTTAGTTTTAACATTAATTTCAATAGTAACAT...,JQ065047,1,JQ065047,3/19/12,HKU19-6918,Coronaviridae,26077.0,NaN,NaN,NaN,China: Hong Kong,night-heron,NaN,2007,NaN
1471,JQ065046.1,ATGCGGGGAGCTATATTAACTTTAATCCTCGTCACATCAGTCAAAG...,JQ065046,1,JQ065046,3/19/12,HKU18-chu3,Coronaviridae,26689.0,NaN,NaN,NaN,China: Hong Kong,magpie-robin,NaN,2007,NaN
1472,JQ065042.2,ATGCAGAGAGCTCTATTGATTATGACCTTACTTTGTCTCGTTCGAG...,JQ065042,2,JQ065042,5/13/16,HKU15-44,Coronaviridae,25430.0,NaN,NaN,NaN,China: Hong Kong,pig,NaN,2009,NaN

In [13]:
data[['country','state']] = data.Geo_Location.str.split(":",expand=True)
data

,taxa,seq,acession,version,Accession,Release_Date,Species,Family,Length,Nuc_Completeness,Authors,Publications,Geo_Location,Host,Isolation_Source,Collection_Date,GenBank_Title,country,state
0,KM349742.1,ATGGTTATAATTTTTCTGCTCTTATTCGCCGAGCCTGTTTTTGGTA...,KM349742,1,KM349742,2015-01-04T00:00:00Z,China Rattus coronavirus HKU24,Coronaviridae,31249.0,complete,"Lau,S.K., Woo,P.C., Li,K.S., Tsang,A.K., Fan,R...",25552712,China,Rattus norvegicus,NaN,5/17/12,"Betacoronavirus_HKU24_strain_HKU24-R05005I,_co...",China,None
1,KM349743.1,ATGGTTATAATTTTTCTGCTCTTATTCGCCGAGCCTGTTTTTGGTA...,KM349743,1,KM349743,2015-01-04T00:00:00Z,China Rattus coronavirus HKU24,Coronaviridae,31249.0,complete,"Lau,S.K., Woo,P.C., Li,K.S., Tsang,A.K., Fan,R...",25552712,China,Rattus norvegicus,NaN,5/17/12,"Betacoronavirus_HKU24_strain_HKU24-R05009I,_co...",China,None
2,KC545383.1,ATGATACGCTCAGCGTGTCTACTGATGTGCTTGTTAATGTTTATAA...,KC545383,1,KC545383,2013-10-21T00:00:00Z,Hedgehog coronavirus 1,Coronaviridae,30148.0,complete,"Corman,V.M., Kallies,R., Philipps,H., Gopner,G...",24131722,Germany,Erinaceus europaeus,feces,2012,Betacoronavirus_Erinaceus/VMC/DEU/2012_isolate...,Germany,None
3,KJ614529.1,ATGATACACTCAGTGTTTCTACTGATGTTCTTGTTAACACCTACAG...,KJ614529,1,KJ614529,2014-05-04T00:00:00Z,Middle East respiratory syndrome-related coron...,Coronaviridae,30094.0,complete,"Frey,K.G., Redden,C.L., Bishop-Lilly,K.A., Joh...",24874668,NaN,NaN,NaN,NaN,Human_betacoronavirus_2c_Jordan-N3/2012_isolat...,NaN,NaN
4,KC545386.1,ATGATACGCTCAGCGTGTCTACTGATGTGCTTGTTAATGTTTATAA...,KC545386,1,KC545386,2013-10-21T00:00:00Z,Hedgehog coronavirus 1,Coronaviridae,30175.0,complete,"Corman,V.M., Kallies,R., Philipps,H., Gopner,G...",24131722,Germany,Erinaceus europaeus,feces,2012,Betacoronavirus_Erinaceus/VMC/DEU/2012_isolate...,Germany,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1468,JQ065049.1,ATGCAGCGATTTGTATTAACTATTTTATTTGTTAACTGTGTTTATG...,JQ065049,1,JQ065049,3/19/12,HKU21-8295,Coronaviridae,26223.0,NaN,NaN,NaN,China: Hong Kong,common moorhen,NaN,2007,NaN,China,Hong Kong
1469,JQ065048.1,ATGTACAGGTTTGCTATACTAATGTTGGTCATTTCGCCAACCCTAG...,JQ065048,1,JQ065048,3/19/12,HKU20-9243,Coronaviridae,26227.0,NaN,NaN,NaN,China: Hong Kong,wigeon,NaN,2008,NaN,China,Hong Kong
1470,JQ065047.1,ATGCAATGTGTTGTTTTAGTTTTAACATTAATTTCAATAGTAACAT...,JQ065047,1,JQ065047,3/19/12,HKU19-6918,Coronaviridae,26077.0,NaN,NaN,NaN,China: Hong Kong,night-heron,NaN,2007,NaN,China,Hong Kong
1471,JQ065046.1,ATGCGGGGAGCTATATTAACTTTAATCCTCGTCACATCAGTCAAAG...,JQ065046,1,JQ065046,3/19/12,HKU18-chu3,Coronaviridae,26689.0,NaN,NaN,NaN,China: Hong Kong,magpie-robin,NaN,2007,NaN,China,Hong Kong
1472,JQ065042.2,ATGCAGAGAGCTCTATTGATTATGACCTTACTTTGTCTCGTTCGAG...,JQ065042,2,JQ065042,5/13/16,HKU15-44,Coronaviridae,25430.0,NaN,NaN,NaN,China: Hong Kong,pig,NaN,2009,NaN,China,Hong Kong

In [14]:
# import the dictionary 
dic=pd.read_csv("country-code.csv",index_col=0, squeeze=True).to_dict()

## do translate
data['region']=data['country'].map(dic)
data

,taxa,seq,acession,version,Accession,Release_Date,Species,Family,Length,Nuc_Completeness,Authors,Publications,Geo_Location,Host,Isolation_Source,Collection_Date,GenBank_Title,country,state,region
0,KM349742.1,ATGGTTATAATTTTTCTGCTCTTATTCGCCGAGCCTGTTTTTGGTA...,KM349742,1,KM349742,2015-01-04T00:00:00Z,China Rattus coronavirus HKU24,Coronaviridae,31249.0,complete,"Lau,S.K., Woo,P.C., Li,K.S., Tsang,A.K., Fan,R...",25552712,China,Rattus norvegicus,NaN,5/17/12,"Betacoronavirus_HKU24_strain_HKU24-R05005I,_co...",China,None,WPRO
1,KM349743.1,ATGGTTATAATTTTTCTGCTCTTATTCGCCGAGCCTGTTTTTGGTA...,KM349743,1,KM349743,2015-01-04T00:00:00Z,China Rattus coronavirus HKU24,Coronaviridae,31249.0,complete,"Lau,S.K., Woo,P.C., Li,K.S., Tsang,A.K., Fan,R...",25552712,China,Rattus norvegicus,NaN,5/17/12,"Betacoronavirus_HKU24_strain_HKU24-R05009I,_co...",China,None,WPRO
2,KC545383.1,ATGATACGCTCAGCGTGTCTACTGATGTGCTTGTTAATGTTTATAA...,KC545383,1,KC545383,2013-10-21T00:00:00Z,Hedgehog coronavirus 1,Coronaviridae,30148.0,complete,"Corman,V.M., Kallies,R., Philipps,H., Gopner,G...",24131722,Germany,Erinaceus europaeus,feces,2012,Betacoronavirus_Erinaceus/VMC/DEU/2012_isolate...,Germany,None,EURO
3,KJ614529.1,ATGATACACTCAGTGTTTCTACTGATGTTCTTGTTAACACCTACAG...,KJ614529,1,KJ614529,2014-05-04T00:00:00Z,Middle East respiratory syndrome-related coron...,Coronaviridae,30094.0,complete,"Frey,K.G., Redden,C.L., Bishop-Lilly,K.A., Joh...",24874668,NaN,NaN,NaN,NaN,Human_betacoronavirus_2c_Jordan-N3/2012_isolat...,NaN,NaN,NaN
4,KC545386.1,ATGATACGCTCAGCGTGTCTACTGATGTGCTTGTTAATGTTTATAA...,KC545386,1,KC545386,2013-10-21T00:00:00Z,Hedgehog coronavirus 1,Coronaviridae,30175.0,complete,"Corman,V.M., Kallies,R., Philipps,H., Gopner,G...",24131722,Germany,Erinaceus europaeus,feces,2012,Betacoronavirus_Erinaceus/VMC/DEU/2012_isolate...,Germany,None,EURO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1468,JQ065049.1,ATGCAGCGATTTGTATTAACTATTTTATTTGTTAACTGTGTTTATG...,JQ065049,1,JQ065049,3/19/12,HKU21-8295,Coronaviridae,26223.0,NaN,NaN,NaN,China: Hong Kong,common moorhen,NaN,2007,NaN,China,Hong Kong,WPRO
1469,JQ065048.1,ATGTACAGGTTTGCTATACTAATGTTGGTCATTTCGCCAACCCTAG...,JQ065048,1,JQ065048,3/19/12,HKU20-9243,Coronaviridae,26227.0,NaN,NaN,NaN,China: Hong Kong,wigeon,NaN,2008,NaN,China,Hong Kong,WPRO
1470,JQ065047.1,ATGCAATGTGTTGTTTTAGTTTTAACATTAATTTCAATAGTAACAT...,JQ065047,1,JQ065047,3/19/12,HKU19-6918,Coronaviridae,26077.0,NaN,NaN,NaN,China: Hong Kong,night-heron,NaN,2007,NaN,China,Hong Kong,WPRO
1471,JQ065046.1,ATGCGGGGAGCTATATTAACTTTAATCCTCGTCACATCAGTCAAAG...,JQ065046,1,JQ065046,3/19/12,HKU18-chu3,Coronaviridae,26689.0,NaN,NaN,NaN,China: Hong Kong,magpie-robin,NaN,2007,NaN,China,Hong Kong,WPRO
1472,JQ065042.2,ATGCAGAGAGCTCTATTGATTATGACCTTACTTTGTCTCGTTCGAG...,JQ065042,2,JQ065042,5/13/16,HKU15-44,Coronaviridae,25430.0,NaN,NaN,NaN,China: Hong Kong,pig,NaN,2009,NaN,China,Hong Kong,WPRO

In [18]:
## drop data without date
data2 = data.dropna(subset=['Collection_Date'])
data2

,taxa,seq,acession,version,Accession,Release_Date,Species,Family,Length,Nuc_Completeness,Authors,Publications,Geo_Location,Host,Isolation_Source,Collection_Date,GenBank_Title,country,state,region
0,KM349742.1,ATGGTTATAATTTTTCTGCTCTTATTCGCCGAGCCTGTTTTTGGTA...,KM349742,1,KM349742,2015-01-04T00:00:00Z,China Rattus coronavirus HKU24,Coronaviridae,31249.0,complete,"Lau,S.K., Woo,P.C., Li,K.S., Tsang,A.K., Fan,R...",25552712,China,Rattus norvegicus,NaN,5/17/12,"Betacoronavirus_HKU24_strain_HKU24-R05005I,_co...",China,None,WPRO
1,KM349743.1,ATGGTTATAATTTTTCTGCTCTTATTCGCCGAGCCTGTTTTTGGTA...,KM349743,1,KM349743,2015-01-04T00:00:00Z,China Rattus coronavirus HKU24,Coronaviridae,31249.0,complete,"Lau,S.K., Woo,P.C., Li,K.S., Tsang,A.K., Fan,R...",25552712,China,Rattus norvegicus,NaN,5/17/12,"Betacoronavirus_HKU24_strain_HKU24-R05009I,_co...",China,None,WPRO
2,KC545383.1,ATGATACGCTCAGCGTGTCTACTGATGTGCTTGTTAATGTTTATAA...,KC545383,1,KC545383,2013-10-21T00:00:00Z,Hedgehog coronavirus 1,Coronaviridae,30148.0,complete,"Corman,V.M., Kallies,R., Philipps,H., Gopner,G...",24131722,Germany,Erinaceus europaeus,feces,2012,Betacoronavirus_Erinaceus/VMC/DEU/2012_isolate...,Germany,None,EURO
4,KC545386.1,ATGATACGCTCAGCGTGTCTACTGATGTGCTTGTTAATGTTTATAA...,KC545386,1,KC545386,2013-10-21T00:00:00Z,Hedgehog coronavirus 1,Coronaviridae,30175.0,complete,"Corman,V.M., Kallies,R., Philipps,H., Gopner,G...",24131722,Germany,Erinaceus europaeus,feces,2012,Betacoronavirus_Erinaceus/VMC/DEU/2012_isolate...,Germany,None,EURO
5,JX899383.1,ATGAAGTACTTAGTGTGTCTACTGATGTACTCGTTAACGCCTCTTC...,JX899383,1,JX899383,2013-01-17T00:00:00Z,Betacoronavirus BtCoV/KW2E-F93/Nyc_spec/GHA/2010,Coronaviridae,4897.0,partial,"Annan,A., Baldwin,H.J., Corman,V.M., Klose,S.M...",23622767,Ghana,Nycteris,NaN,2011,Betacoronavirus_BtCoV/KW2E-F93/Nyc_spec/GHA/20...,Ghana,None,AFRO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1468,JQ065049.1,ATGCAGCGATTTGTATTAACTATTTTATTTGTTAACTGTGTTTATG...,JQ065049,1,JQ065049,3/19/12,HKU21-8295,Coronaviridae,26223.0,NaN,NaN,NaN,China: Hong Kong,common moorhen,NaN,2007,NaN,China,Hong Kong,WPRO
1469,JQ065048.1,ATGTACAGGTTTGCTATACTAATGTTGGTCATTTCGCCAACCCTAG...,JQ065048,1,JQ065048,3/19/12,HKU20-9243,Coronaviridae,26227.0,NaN,NaN,NaN,China: Hong Kong,wigeon,NaN,2008,NaN,China,Hong Kong,WPRO
1470,JQ065047.1,ATGCAATGTGTTGTTTTAGTTTTAACATTAATTTCAATAGTAACAT...,JQ065047,1,JQ065047,3/19/12,HKU19-6918,Coronaviridae,26077.0,NaN,NaN,NaN,China: Hong Kong,night-heron,NaN,2007,NaN,China,Hong Kong,WPRO
1471,JQ065046.1,ATGCGGGGAGCTATATTAACTTTAATCCTCGTCACATCAGTCAAAG...,JQ065046,1,JQ065046,3/19/12,HKU18-chu3,Coronaviridae,26689.0,NaN,NaN,NaN,China: Hong Kong,magpie-robin,NaN,2007,NaN,China,Hong Kong,WPRO
1472,JQ065042.2,ATGCAGAGAGCTCTATTGATTATGACCTTACTTTGTCTCGTTCGAG...,JQ065042,2,JQ065042,5/13/16,HKU15-44,Coronaviridae,25430.0,NaN,NaN,NaN,China: Hong Kong,pig,NaN,2009,NaN,China,Hong Kong,WPRO

In [19]:
## rename taxa
data2['taxa_new']=data2.apply(lambda x:'%s|%s' % (x['acession'],x['GenBank_Title']),axis=1)
data2

/Users/jianichen1/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,taxa,seq,acession,version,Accession,Release_Date,Species,Family,Length,Nuc_Completeness,...,Publications,Geo_Location,Host,Isolation_Source,Collection_Date,GenBank_Title,country,state,region,taxa_new
0,KM349742.1,ATGGTTATAATTTTTCTGCTCTTATTCGCCGAGCCTGTTTTTGGTA...,KM349742,1,KM349742,2015-01-04T00:00:00Z,China Rattus coronavirus HKU24,Coronaviridae,31249.0,complete,...,25552712,China,Rattus norvegicus,NaN,5/17/12,"Betacoronavirus_HKU24_strain_HKU24-R05005I,_co...",China,None,WPRO,KM349742|Betacoronavirus_HKU24_strain_HKU24-R0...
1,KM349743.1,ATGGTTATAATTTTTCTGCTCTTATTCGCCGAGCCTGTTTTTGGTA...,KM349743,1,KM349743,2015-01-04T00:00:00Z,China Rattus coronavirus HKU24,Coronaviridae,31249.0,complete,...,25552712,China,Rattus norvegicus,NaN,5/17/12,"Betacoronavirus_HKU24_strain_HKU24-R05009I,_co...",China,None,WPRO,KM349743|Betacoronavirus_HKU24_strain_HKU24-R0...
2,KC545383.1,ATGATACGCTCAGCGTGTCTACTGATGTGCTTGTTAATGTTTATAA...,KC545383,1,KC545383,2013-10-21T00:00:00Z,Hedgehog coronavirus 1,Coronaviridae,30148.0,complete,...,24131722,Germany,Erinaceus europaeus,feces,2012,Betacoronavirus_Erinaceus/VMC/DEU/2012_isolate...,Germany,None,EURO,KC545383|Betacoronavirus_Erinaceus/VMC/DEU/201...
4,KC545386.1,ATGATACGCTCAGCGTGTCTACTGATGTGCTTGTTAATGTTTATAA...,KC545386,1,KC545386,2013-10-21T00:00:00Z,Hedgehog coronavirus 1,Coronaviridae,30175.0,complete,...,24131722,Germany,Erinaceus europaeus,feces,2012,Betacoronavirus_Erinaceus/VMC/DEU/2012_isolate...,Germany,None,EURO,KC545386|Betacoronavirus_Erinaceus/VMC/DEU/201...
5,JX899383.1,ATGAAGTACTTAGTGTGTCTACTGATGTACTCGTTAACGCCTCTTC...,JX899383,1,JX899383,2013-01-17T00:00:00Z,Betacoronavirus BtCoV/KW2E-F93/Nyc_spec/GHA/2010,Coronaviridae,4897.0,partial,...,23622767,Ghana,Nycteris,NaN,2011,Betacoronavirus_BtCoV/KW2E-F93/Nyc_spec/GHA/20...,Ghana,None,AFRO,JX899383|Betacoronavirus_BtCoV/KW2E-F93/Nyc_sp...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1468,JQ065049.1,ATGCAGCGATTTGTATTAACTATTTTATTTGTTAACTGTGTTTATG...,JQ065049,1,JQ065049,3/19/12,HKU21-8295,Coronaviridae,26223.0,NaN,...,NaN,China: Hong Kong,common moorhen,NaN,2007,NaN,China,Hong Kong,WPRO,JQ065049|nan
1469,JQ065048.1,ATGTACAGGTTTGCTATACTAATGTTGGTCATTTCGCCAACCCTAG...,JQ065048,1,JQ065048,3/19/12,HKU20-9243,Coronaviridae,26227.0,NaN,...,NaN,China: Hong Kong,wigeon,NaN,2008,NaN,China,Hong Kong,WPRO,JQ065048|nan
1470,JQ065047.1,ATGCAATGTGTTGTTTTAGTTTTAACATTAATTTCAATAGTAACAT...,JQ065047,1,JQ065047,3/19/12,HKU19-6918,Coronaviridae,26077.0,NaN,...,NaN,China: Hong Kong,night-heron,NaN,2007,NaN,China,Hong Kong,WPRO,JQ065047|nan
1471,JQ065046.1,ATGCGGGGAGCTATATTAACTTTAATCCTCGTCACATCAGTCAAAG...,JQ065046,1,JQ065046,3/19/12,HKU18-chu3,Coronaviridae,26689.0,NaN,...,NaN,China: Hong Kong,magpie-robin,NaN,2007,NaN,China,Hong Kong,WPRO,JQ065046|nan
1472,JQ065042.2,ATGCAGAGAGCTCTATTGATTATGACCTTACTTTGTCTCGTTCGAG...,JQ065042,2,JQ065042,5/13/16,HKU15-44,Coronaviridae,25430.0,NaN,...,NaN,China: Hong Kong,pig,NaN,2009,NaN,China,Hong Kong,WPRO,JQ065042|nan

In [20]:
## double check with duplicate
data2 = data2.drop_duplicates()
data2

,taxa,seq,acession,version,Accession,Release_Date,Species,Family,Length,Nuc_Completeness,...,Publications,Geo_Location,Host,Isolation_Source,Collection_Date,GenBank_Title,country,state,region,taxa_new
0,KM349742.1,ATGGTTATAATTTTTCTGCTCTTATTCGCCGAGCCTGTTTTTGGTA...,KM349742,1,KM349742,2015-01-04T00:00:00Z,China Rattus coronavirus HKU24,Coronaviridae,31249.0,complete,...,25552712,China,Rattus norvegicus,NaN,5/17/12,"Betacoronavirus_HKU24_strain_HKU24-R05005I,_co...",China,None,WPRO,KM349742|Betacoronavirus_HKU24_strain_HKU24-R0...
1,KM349743.1,ATGGTTATAATTTTTCTGCTCTTATTCGCCGAGCCTGTTTTTGGTA...,KM349743,1,KM349743,2015-01-04T00:00:00Z,China Rattus coronavirus HKU24,Coronaviridae,31249.0,complete,...,25552712,China,Rattus norvegicus,NaN,5/17/12,"Betacoronavirus_HKU24_strain_HKU24-R05009I,_co...",China,None,WPRO,KM349743|Betacoronavirus_HKU24_strain_HKU24-R0...
2,KC545383.1,ATGATACGCTCAGCGTGTCTACTGATGTGCTTGTTAATGTTTATAA...,KC545383,1,KC545383,2013-10-21T00:00:00Z,Hedgehog coronavirus 1,Coronaviridae,30148.0,complete,...,24131722,Germany,Erinaceus europaeus,feces,2012,Betacoronavirus_Erinaceus/VMC/DEU/2012_isolate...,Germany,None,EURO,KC545383|Betacoronavirus_Erinaceus/VMC/DEU/201...
4,KC545386.1,ATGATACGCTCAGCGTGTCTACTGATGTGCTTGTTAATGTTTATAA...,KC545386,1,KC545386,2013-10-21T00:00:00Z,Hedgehog coronavirus 1,Coronaviridae,30175.0,complete,...,24131722,Germany,Erinaceus europaeus,feces,2012,Betacoronavirus_Erinaceus/VMC/DEU/2012_isolate...,Germany,None,EURO,KC545386|Betacoronavirus_Erinaceus/VMC/DEU/201...
5,JX899383.1,ATGAAGTACTTAGTGTGTCTACTGATGTACTCGTTAACGCCTCTTC...,JX899383,1,JX899383,2013-01-17T00:00:00Z,Betacoronavirus BtCoV/KW2E-F93/Nyc_spec/GHA/2010,Coronaviridae,4897.0,partial,...,23622767,Ghana,Nycteris,NaN,2011,Betacoronavirus_BtCoV/KW2E-F93/Nyc_spec/GHA/20...,Ghana,None,AFRO,JX899383|Betacoronavirus_BtCoV/KW2E-F93/Nyc_sp...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1468,JQ065049.1,ATGCAGCGATTTGTATTAACTATTTTATTTGTTAACTGTGTTTATG...,JQ065049,1,JQ065049,3/19/12,HKU21-8295,Coronaviridae,26223.0,NaN,...,NaN,China: Hong Kong,common moorhen,NaN,2007,NaN,China,Hong Kong,WPRO,JQ065049|nan
1469,JQ065048.1,ATGTACAGGTTTGCTATACTAATGTTGGTCATTTCGCCAACCCTAG...,JQ065048,1,JQ065048,3/19/12,HKU20-9243,Coronaviridae,26227.0,NaN,...,NaN,China: Hong Kong,wigeon,NaN,2008,NaN,China,Hong Kong,WPRO,JQ065048|nan
1470,JQ065047.1,ATGCAATGTGTTGTTTTAGTTTTAACATTAATTTCAATAGTAACAT...,JQ065047,1,JQ065047,3/19/12,HKU19-6918,Coronaviridae,26077.0,NaN,...,NaN,China: Hong Kong,night-heron,NaN,2007,NaN,China,Hong Kong,WPRO,JQ065047|nan
1471,JQ065046.1,ATGCGGGGAGCTATATTAACTTTAATCCTCGTCACATCAGTCAAAG...,JQ065046,1,JQ065046,3/19/12,HKU18-chu3,Coronaviridae,26689.0,NaN,...,NaN,China: Hong Kong,magpie-robin,NaN,2007,NaN,China,Hong Kong,WPRO,JQ065046|nan
1472,JQ065042.2,ATGCAGAGAGCTCTATTGATTATGACCTTACTTTGTCTCGTTCGAG...,JQ065042,2,JQ065042,5/13/16,HKU15-44,Coronaviridae,25430.0,NaN,...,NaN,China: Hong Kong,pig,NaN,2009,NaN,China,Hong Kong,WPRO,JQ065042|nan

In [21]:
## save sequence and metadata
spike_nextstrain = data2.filter(['taxa_new','seq'], axis=1)
## to fasta
spike_nextstrain.to_csv("spike_nextstrain.tab", sep="\t",index = False,header=False)
## covert csv to fasta
spike_fasta = SeqIO.parse("spike_nextstrain.tab", "tab")
SeqIO.write(spike_fasta, "spike_nextstrain2.fasta", "fasta")

1230

In [22]:
##get meta.csv
spike_meta2 = data2.drop(columns=['seq'])
spike_meta2.to_csv('spike_nextstrain_meta2.csv', index = False)
spike_meta2

,taxa,acession,version,Accession,Release_Date,Species,Family,Length,Nuc_Completeness,Authors,Publications,Geo_Location,Host,Isolation_Source,Collection_Date,GenBank_Title,country,state,region,taxa_new
0,KM349742.1,KM349742,1,KM349742,2015-01-04T00:00:00Z,China Rattus coronavirus HKU24,Coronaviridae,31249.0,complete,"Lau,S.K., Woo,P.C., Li,K.S., Tsang,A.K., Fan,R...",25552712,China,Rattus norvegicus,NaN,5/17/12,"Betacoronavirus_HKU24_strain_HKU24-R05005I,_co...",China,None,WPRO,KM349742|Betacoronavirus_HKU24_strain_HKU24-R0...
1,KM349743.1,KM349743,1,KM349743,2015-01-04T00:00:00Z,China Rattus coronavirus HKU24,Coronaviridae,31249.0,complete,"Lau,S.K., Woo,P.C., Li,K.S., Tsang,A.K., Fan,R...",25552712,China,Rattus norvegicus,NaN,5/17/12,"Betacoronavirus_HKU24_strain_HKU24-R05009I,_co...",China,None,WPRO,KM349743|Betacoronavirus_HKU24_strain_HKU24-R0...
2,KC545383.1,KC545383,1,KC545383,2013-10-21T00:00:00Z,Hedgehog coronavirus 1,Coronaviridae,30148.0,complete,"Corman,V.M., Kallies,R., Philipps,H., Gopner,G...",24131722,Germany,Erinaceus europaeus,feces,2012,Betacoronavirus_Erinaceus/VMC/DEU/2012_isolate...,Germany,None,EURO,KC545383|Betacoronavirus_Erinaceus/VMC/DEU/201...
4,KC545386.1,KC545386,1,KC545386,2013-10-21T00:00:00Z,Hedgehog coronavirus 1,Coronaviridae,30175.0,complete,"Corman,V.M., Kallies,R., Philipps,H., Gopner,G...",24131722,Germany,Erinaceus europaeus,feces,2012,Betacoronavirus_Erinaceus/VMC/DEU/2012_isolate...,Germany,None,EURO,KC545386|Betacoronavirus_Erinaceus/VMC/DEU/201...
5,JX899383.1,JX899383,1,JX899383,2013-01-17T00:00:00Z,Betacoronavirus BtCoV/KW2E-F93/Nyc_spec/GHA/2010,Coronaviridae,4897.0,partial,"Annan,A., Baldwin,H.J., Corman,V.M., Klose,S.M...",23622767,Ghana,Nycteris,NaN,2011,Betacoronavirus_BtCoV/KW2E-F93/Nyc_spec/GHA/20...,Ghana,None,AFRO,JX899383|Betacoronavirus_BtCoV/KW2E-F93/Nyc_sp...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1468,JQ065049.1,JQ065049,1,JQ065049,3/19/12,HKU21-8295,Coronaviridae,26223.0,NaN,NaN,NaN,China: Hong Kong,common moorhen,NaN,2007,NaN,China,Hong Kong,WPRO,JQ065049|nan
1469,JQ065048.1,JQ065048,1,JQ065048,3/19/12,HKU20-9243,Coronaviridae,26227.0,NaN,NaN,NaN,China: Hong Kong,wigeon,NaN,2008,NaN,China,Hong Kong,WPRO,JQ065048|nan
1470,JQ065047.1,JQ065047,1,JQ065047,3/19/12,HKU19-6918,Coronaviridae,26077.0,NaN,NaN,NaN,China: Hong Kong,night-heron,NaN,2007,NaN,China,Hong Kong,WPRO,JQ065047|nan
1471,JQ065046.1,JQ065046,1,JQ065046,3/19/12,HKU18-chu3,Coronaviridae,26689.0,NaN,NaN,NaN,China: Hong Kong,magpie-robin,NaN,2007,NaN,China,Hong Kong,WPRO,JQ065046|nan
1472,JQ065042.2,JQ065042,2,JQ065042,5/13/16,HKU15-44,Coronaviridae,25430.0,NaN,NaN,NaN,China: Hong Kong,pig,NaN,2009,NaN,China,Hong Kong,WPRO,JQ065042|nan

### from nextstrian to build time tree
### to solve error:  At least 30\% terminal nodes cannot be assigned a sequence!

In [24]:
## combine seq and metadata
##combine metadata to seq
records = SeqIO.parse("sequences.fasta", "fasta")
SeqIO.write(records, "sequences.tab", "tab")
df = pd.read_csv("sequences.tab",sep='\t',names=["taxa", "seq"])
df

,taxa,seq
0,KM349742|Betacoronavirus_HKU24_strain_HKU24-R0...,ATGGTTATAATTTTTCTGCTCTTATTCGCCGAGCCTGTTTTTGGTA...
1,KM349743|Betacoronavirus_HKU24_strain_HKU24-R0...,ATGGTTATAATTTTTCTGCTCTTATTCGCCGAGCCTGTTTTTGGTA...
2,KC545383|Betacoronavirus_Erinaceus/VMC/DEU/201...,ATGATACGCTCAGCGTGTCTACTGATGTGCTTGTTAATGTTTATAA...
3,KC545386|Betacoronavirus_Erinaceus/VMC/DEU/201...,ATGATACGCTCAGCGTGTCTACTGATGTGCTTGTTAATGTTTATAA...
4,JX899383|Betacoronavirus_BtCoV/KW2E-F93/Nyc_sp...,ATGAAGTACTTAGTGTGTCTACTGATGTACTCGTTAACGCCTCTTC...
...,...,...
1223,JQ065049|nan,ATGCAGCGATTTGTATTAACTATTTTATTTGTTAACTGTGTTTATG...
1224,JQ065048|nan,ATGTACAGGTTTGCTATACTAATGTTGGTCATTTCGCCAACCCTAG...
1225,JQ065047|nan,ATGCAATGTGTTGTTTTAGTTTTAACATTAATTTCAATAGTAACAT...
1226,JQ065046|nan,ATGCGGGGAGCTATATTAACTTTAATCCTCGTCACATCAGTCAAAG...
1227,JQ065042|nan,ATGCAGAGAGCTCTATTGATTATGACCTTACTTTGTCTCGTTCGAG...

In [48]:
df2 = pd.read_csv('metadata.tsv',sep="\t")
## add seq to acession
df3=pd.merge(df, df2, how='left', left_on='taxa', right_on='strain')
df3

,taxa,seq,strain,virus,accession,date,Geo_Location,country,region,db,segment,species,host,authors,publications
0,KM349742|Betacoronavirus_HKU24_strain_HKU24-R0...,ATGGTTATAATTTTTCTGCTCTTATTCGCCGAGCCTGTTTTTGGTA...,KM349742|Betacoronavirus_HKU24_strain_HKU24-R0...,Betacoronavirus,KM349742,2012-05-17,China,China,WPRO,genbank,genome,China Rattus coronavirus HKU24,Rattus norvegicus,"Lau,S.K., Woo,P.C., Li,K.S., Tsang,A.K., Fan,R...",25552712
1,KM349743|Betacoronavirus_HKU24_strain_HKU24-R0...,ATGGTTATAATTTTTCTGCTCTTATTCGCCGAGCCTGTTTTTGGTA...,KM349743|Betacoronavirus_HKU24_strain_HKU24-R0...,Betacoronavirus,KM349743,2012-05-17,China,China,WPRO,genbank,genome,China Rattus coronavirus HKU24,Rattus norvegicus,"Lau,S.K., Woo,P.C., Li,K.S., Tsang,A.K., Fan,R...",25552712
2,KC545383|Betacoronavirus_Erinaceus/VMC/DEU/201...,ATGATACGCTCAGCGTGTCTACTGATGTGCTTGTTAATGTTTATAA...,KC545383|Betacoronavirus_Erinaceus/VMC/DEU/201...,Betacoronavirus,KC545383,2012-07-15,Germany,Germany,EURO,genbank,genome,Hedgehog coronavirus 1,Erinaceus europaeus,"Corman,V.M., Kallies,R., Philipps,H., Gopner,G...",24131722
3,KC545386|Betacoronavirus_Erinaceus/VMC/DEU/201...,ATGATACGCTCAGCGTGTCTACTGATGTGCTTGTTAATGTTTATAA...,KC545386|Betacoronavirus_Erinaceus/VMC/DEU/201...,Betacoronavirus,KC545386,2012-07-15,Germany,Germany,EURO,genbank,genome,Hedgehog coronavirus 1,Erinaceus europaeus,"Corman,V.M., Kallies,R., Philipps,H., Gopner,G...",24131722
4,JX899383|Betacoronavirus_BtCoV/KW2E-F93/Nyc_sp...,ATGAAGTACTTAGTGTGTCTACTGATGTACTCGTTAACGCCTCTTC...,JX899383|Betacoronavirus_BtCoV/KW2E-F93/Nyc_sp...,Betacoronavirus,JX899383,2011-07-15,Ghana,Ghana,AFRO,genbank,genome,Unclassified Betacoronavirus,Nycteris,"Annan,A., Baldwin,H.J., Corman,V.M., Klose,S.M...",23622767
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1223,JQ065049|nan,ATGCAGCGATTTGTATTAACTATTTTATTTGTTAACTGTGTTTATG...,JQ065049|nan,Betacoronavirus,JQ065049,2007-07-15,China: Hong Kong,China,WPRO,genbank,genome,HKU21,common moorhen,NaN,NaN
1224,JQ065048|nan,ATGTACAGGTTTGCTATACTAATGTTGGTCATTTCGCCAACCCTAG...,JQ065048|nan,Betacoronavirus,JQ065048,2008-07-15,China: Hong Kong,China,WPRO,genbank,genome,HKU20,wigeon,NaN,NaN
1225,JQ065047|nan,ATGCAATGTGTTGTTTTAGTTTTAACATTAATTTCAATAGTAACAT...,JQ065047|nan,Betacoronavirus,JQ065047,2007-07-15,China: Hong Kong,China,WPRO,genbank,genome,HKU19,night-heron,NaN,NaN
1226,JQ065046|nan,ATGCGGGGAGCTATATTAACTTTAATCCTCGTCACATCAGTCAAAG...,JQ065046|nan,Betacoronavirus,JQ065046,2007-07-15,China: Hong Kong,China,WPRO,genbank,genome,HKU18,magpie-robin,NaN,NaN
1227,JQ065042|nan,ATGCAGAGAGCTCTATTGATTATGACCTTACTTTGTCTCGTTCGAG...,JQ065042|nan,Betacoronavirus,JQ065042,2009-07-15,China: Hong Kong,China,WPRO,genbank,genome,HKU15,pig,NaN,NaN

In [49]:
df3['date']=pd.to_datetime(df3['date'])
df3=df3.sort_values(by=['date'])
df3

,taxa,seq,strain,virus,accession,date,Geo_Location,country,region,db,segment,species,host,authors,publications
1112,JX169866|Murine_coronavirus_strain_JHM-WU-Dns2...,ATGCTGTTCGTCTTTATTTTACTATTACCCTCTTGTTTAGGGTATA...,JX169866|Murine_coronavirus_strain_JHM-WU-Dns2...,Betacoronavirus,JX169866,1947-08-14,USA,USA,PAHO,genbank,genome,Murine coronavirus,NaN,"Town,C.D., Halpin,R.A., Motley,J., Fedorova,N....",NaN
1111,"JX169867|Murine_coronavirus_strain_JHM.WU,_com...",ATGCTGTTCGTCTTTATTTTACTATTACCCTCTTGTTTAGGGTATA...,"JX169867|Murine_coronavirus_strain_JHM.WU,_com...",Betacoronavirus,JX169867,1947-08-14,USA,USA,PAHO,genbank,genome,Murine coronavirus,NaN,"Town,C.D., Halpin,R.A., Motley,J., Fedorova,N....",NaN
1061,KF963229|Human_coronavirus_OC43_isolate_HCoV-O...,ATGTTTTTGATACTTTTAATTTCCTTACCAACGGCTTTTGCTGTTA...,KF963229|Human_coronavirus_OC43_isolate_HCoV-O...,Betacoronavirus,KF963229,1967-07-15,France,France,EURO,genbank,genome,Betacoronavirus 1,Homo sapiens,"Kin,N., Miszczak,F., Lin,W., Gouilh,M.A., Vabr...",26008694
1072,KF530093|Human_coronavirus_OC43_strain_OC43/hu...,ATGTTTTTGATACTTTTAATTTCCTTACCAATGGCTTTTGCTGTTA...,KF530093|Human_coronavirus_OC43_strain_OC43/hu...,Betacoronavirus,KF530093,1983-02-24,"USA: Nashville, TN",USA,PAHO,genbank,genome,Betacoronavirus 1,Homo sapiens,"Town,C.D., Halpin,R.A., Ransier,A., Fedorova,N...",NaN
1101,KF530060|Human_coronavirus_OC43_strain_OC43/hu...,ATGTTTTTGATACTTTTAATTTCCTTACCAATGGCTTTTGCTGTTA...,KF530060|Human_coronavirus_OC43_strain_OC43/hu...,Betacoronavirus,KF530060,1985-01-08,"USA: Nashville, TN",USA,PAHO,genbank,genome,Betacoronavirus 1,Homo sapiens,"Town,C.D., Halpin,R.A., Ransier,A., Fedorova,N...",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163,MT375475|Severe_acute_respiratory_syndrome_cor...,ATGTTTGTTTTTCTTGTTTTATTGCCACTAGTCTCTAGTCAGTGTG...,MT375475|Severe_acute_respiratory_syndrome_cor...,Betacoronavirus,MT375475,2020-04-08,USA: WA,USA,PAHO,genbank,genome,SARS-CoV2,Homo sapiens,"Roychoudhury,P., Greninger,A., Jerome,K.",NaN
133,MT385417|Severe_acute_respiratory_syndrome_cor...,ATGTTTGTTTTTCTTGTTTTATTGCCACTAGTCTCTAGTCAGTGTG...,MT385417|Severe_acute_respiratory_syndrome_cor...,Betacoronavirus,MT385417,2020-04-08,USA: CA,USA,PAHO,genbank,genome,SARS-CoV2,Homo sapiens,NaN,NaN
125,MT385471|Severe_acute_respiratory_syndrome_cor...,ATGTTTGTTTTTCTTGTTTTATTGCCACTAGTCTCTAGTCAGTGTG...,MT385471|Severe_acute_respiratory_syndrome_cor...,Betacoronavirus,MT385471,2020-04-08,USA: CA,USA,PAHO,genbank,genome,SARS-CoV2,Homo sapiens,NaN,NaN
104,MT396266|Severe_acute_respiratory_syndrome_cor...,ATGTTTGTTTTTCTTGTTTTATTGCCACTAGTCTCTAGTCAGTGTG...,MT396266|Severe_acute_respiratory_syndrome_cor...,Betacoronavirus,MT396266,2020-04-24,Netherlands: Milheeze,Netherlands,EURO,genbank,genome,SARS-CoV2,Mustela lutreola,"Oreshkova,N., Vreman,S., Molenaar,R.J., Harder...",NaN
343,MT326173|Severe_acute_respiratory_syndrome_cor...,ATGTTTGTTTTTCTTGTTTTATTGCCACTAGTCTCTAGTCAGTGTG...,MT326173|Severe_acute_respiratory_syndrome_cor...,Betacoronavirus,MT326173,2020-07-15,USA,USA,PAHO,genbank,genome,SARS-CoV2,Homo sapiens,"Roychoudhury,P., Greninger,A., Jerome,K.",NaN

In [50]:
# dropping ALL duplicte values 
df3.drop_duplicates(subset = "seq", keep = 'first')

,taxa,seq,strain,virus,accession,date,Geo_Location,country,region,db,segment,species,host,authors,publications
1112,JX169866|Murine_coronavirus_strain_JHM-WU-Dns2...,ATGCTGTTCGTCTTTATTTTACTATTACCCTCTTGTTTAGGGTATA...,JX169866|Murine_coronavirus_strain_JHM-WU-Dns2...,Betacoronavirus,JX169866,1947-08-14,USA,USA,PAHO,genbank,genome,Murine coronavirus,NaN,"Town,C.D., Halpin,R.A., Motley,J., Fedorova,N....",NaN
1111,"JX169867|Murine_coronavirus_strain_JHM.WU,_com...",ATGCTGTTCGTCTTTATTTTACTATTACCCTCTTGTTTAGGGTATA...,"JX169867|Murine_coronavirus_strain_JHM.WU,_com...",Betacoronavirus,JX169867,1947-08-14,USA,USA,PAHO,genbank,genome,Murine coronavirus,NaN,"Town,C.D., Halpin,R.A., Motley,J., Fedorova,N....",NaN
1061,KF963229|Human_coronavirus_OC43_isolate_HCoV-O...,ATGTTTTTGATACTTTTAATTTCCTTACCAACGGCTTTTGCTGTTA...,KF963229|Human_coronavirus_OC43_isolate_HCoV-O...,Betacoronavirus,KF963229,1967-07-15,France,France,EURO,genbank,genome,Betacoronavirus 1,Homo sapiens,"Kin,N., Miszczak,F., Lin,W., Gouilh,M.A., Vabr...",26008694
1072,KF530093|Human_coronavirus_OC43_strain_OC43/hu...,ATGTTTTTGATACTTTTAATTTCCTTACCAATGGCTTTTGCTGTTA...,KF530093|Human_coronavirus_OC43_strain_OC43/hu...,Betacoronavirus,KF530093,1983-02-24,"USA: Nashville, TN",USA,PAHO,genbank,genome,Betacoronavirus 1,Homo sapiens,"Town,C.D., Halpin,R.A., Ransier,A., Fedorova,N...",NaN
1101,KF530060|Human_coronavirus_OC43_strain_OC43/hu...,ATGTTTTTGATACTTTTAATTTCCTTACCAATGGCTTTTGCTGTTA...,KF530060|Human_coronavirus_OC43_strain_OC43/hu...,Betacoronavirus,KF530060,1985-01-08,"USA: Nashville, TN",USA,PAHO,genbank,genome,Betacoronavirus 1,Homo sapiens,"Town,C.D., Halpin,R.A., Ransier,A., Fedorova,N...",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163,MT375475|Severe_acute_respiratory_syndrome_cor...,ATGTTTGTTTTTCTTGTTTTATTGCCACTAGTCTCTAGTCAGTGTG...,MT375475|Severe_acute_respiratory_syndrome_cor...,Betacoronavirus,MT375475,2020-04-08,USA: WA,USA,PAHO,genbank,genome,SARS-CoV2,Homo sapiens,"Roychoudhury,P., Greninger,A., Jerome,K.",NaN
133,MT385417|Severe_acute_respiratory_syndrome_cor...,ATGTTTGTTTTTCTTGTTTTATTGCCACTAGTCTCTAGTCAGTGTG...,MT385417|Severe_acute_respiratory_syndrome_cor...,Betacoronavirus,MT385417,2020-04-08,USA: CA,USA,PAHO,genbank,genome,SARS-CoV2,Homo sapiens,NaN,NaN
125,MT385471|Severe_acute_respiratory_syndrome_cor...,ATGTTTGTTTTTCTTGTTTTATTGCCACTAGTCTCTAGTCAGTGTG...,MT385471|Severe_acute_respiratory_syndrome_cor...,Betacoronavirus,MT385471,2020-04-08,USA: CA,USA,PAHO,genbank,genome,SARS-CoV2,Homo sapiens,NaN,NaN
104,MT396266|Severe_acute_respiratory_syndrome_cor...,ATGTTTGTTTTTCTTGTTTTATTGCCACTAGTCTCTAGTCAGTGTG...,MT396266|Severe_acute_respiratory_syndrome_cor...,Betacoronavirus,MT396266,2020-04-24,Netherlands: Milheeze,Netherlands,EURO,genbank,genome,SARS-CoV2,Mustela lutreola,"Oreshkova,N., Vreman,S., Molenaar,R.J., Harder...",NaN
343,MT326173|Severe_acute_respiratory_syndrome_cor...,ATGTTTGTTTTTCTTGTTTTATTGCCACTAGTCTCTAGTCAGTGTG...,MT326173|Severe_acute_respiratory_syndrome_cor...,Betacoronavirus,MT326173,2020-07-15,USA,USA,PAHO,genbank,genome,SARS-CoV2,Homo sapiens,"Roychoudhury,P., Greninger,A., Jerome,K.",NaN

In [51]:
### combine error 
error=pd.read_csv('error.csv')
error

    accession
0    KM349742
1    KM349743
2    MH687975
3    MH687976
4    MH687973
..        ...
405  LC506883
406  KU745536
407  MG197713
408  MG197722
409  MG197717

[410 rows x 1 columns]

In [52]:
error =pd.merge(error, df3, on='accession')
error

,accession,taxa,seq,strain,virus,date,Geo_Location,country,region,db,segment,species,host,authors,publications
0,KM349742,KM349742|Betacoronavirus_HKU24_strain_HKU24-R0...,ATGGTTATAATTTTTCTGCTCTTATTCGCCGAGCCTGTTTTTGGTA...,KM349742|Betacoronavirus_HKU24_strain_HKU24-R0...,Betacoronavirus,2012-05-17,China,China,WPRO,genbank,genome,China Rattus coronavirus HKU24,Rattus norvegicus,"Lau,S.K., Woo,P.C., Li,K.S., Tsang,A.K., Fan,R...",25552712
1,KM349743,KM349743|Betacoronavirus_HKU24_strain_HKU24-R0...,ATGGTTATAATTTTTCTGCTCTTATTCGCCGAGCCTGTTTTTGGTA...,KM349743|Betacoronavirus_HKU24_strain_HKU24-R0...,Betacoronavirus,2012-05-17,China,China,WPRO,genbank,genome,China Rattus coronavirus HKU24,Rattus norvegicus,"Lau,S.K., Woo,P.C., Li,K.S., Tsang,A.K., Fan,R...",25552712
2,MH687975,MH687975|Betacoronavirus_sp._strain_VZ_BetaCoV...,ATGGAATTCCCATTTGTAACTATGAGTCCCATTACAACGCTTTTGT...,MH687975|Betacoronavirus_sp._strain_VZ_BetaCoV...,Betacoronavirus,2013-12-09,Viet Nam,Viet Nam,WPRO,genbank,genome,Betacoronavirus sp.,Rattus argentiventer,"Phan,M.V.T., Tue,N.T., Anh,P.H., Baker,S., Kel...",NaN
3,MH687976,MH687976|Betacoronavirus_sp._strain_VZ_BetaCoV...,ATGGTTATAATTTTTTTGCTCTTATTCGCCGAACCTGTCTTTTGTG...,MH687976|Betacoronavirus_sp._strain_VZ_BetaCoV...,Betacoronavirus,2015-02-04,Viet Nam,Viet Nam,WPRO,genbank,genome,Betacoronavirus sp.,Rattus argentiventer,"Phan,M.V.T., Tue,N.T., Anh,P.H., Baker,S., Kel...",NaN
4,MH687973,MH687973|Betacoronavirus_sp._strain_VZ_BetaCoV...,ATGGTTATAATTTTTCTGCTCTTATTCGCCGAACCTGTCTTTTGTG...,MH687973|Betacoronavirus_sp._strain_VZ_BetaCoV...,Betacoronavirus,2014-11-12,Viet Nam,Viet Nam,WPRO,genbank,genome,Betacoronavirus sp.,Rattus argentiventer,"Phan,M.V.T., Tue,N.T., Anh,P.H., Baker,S., Kel...",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
405,LC506883,LC506883|Human_coronavirus_OC43_HCoV-OC43/Yama...,ATGTTTTTGATACTTTTAATTTCCTTACCAACGGCTTTTGCTGTTA...,LC506883|Human_coronavirus_OC43_HCoV-OC43/Yama...,Betacoronavirus,2015-01-15,Japan:Yamagata,Japan,WPRO,genbank,genome,Betacoronavirus 1,Homo sapiens,"Komabayashi,K., Matoba,Y., Aoki,Y., Tanaka,S.,...",NaN
406,KU745536,KU745536|Human_coronavirus_OC43_isolate_14012/...,ATGTTTTTGATACTTTTAATTTCCTTACCAACGGCTTTTGCTGTTA...,KU745536|Human_coronavirus_OC43_isolate_14012/...,Betacoronavirus,2014-05-15,China: Beijing,China,WPRO,genbank,genome,Betacoronavirus 1,Homo sapiens,"Jia,B., Ren,L., Wang,J.",NaN
407,MG197713,"MG197713|Human_coronavirus_OC43_strain_BJ-221,...",ATGTTTTTGATACTTTTAATTTCCTTACCAACGGCTTTTGCTGTTA...,"MG197713|Human_coronavirus_OC43_strain_BJ-221,...",Betacoronavirus,2015-08-14,China,China,WPRO,genbank,genome,Betacoronavirus 1,NaN,"Zhu,Y., Chen,L., Xie,Z.",NaN
408,MG197722,"MG197722|Human_coronavirus_OC43_strain_YC-207,...",ATGTTTTTGATACTTTTAATTTCCTTACCAACGGCTTTTGCTGTTA...,"MG197722|Human_coronavirus_OC43_strain_YC-207,...",Betacoronavirus,2015-12-02,China,China,WPRO,genbank,genome,Betacoronavirus 1,NaN,"Zhu,Y., Chen,L., Xie,Z.",NaN
409,MG197717,"MG197717|Human_coronavirus_OC43_strain_WZ-522,...",ATGTTTTTGATACTTTTAATTTCCTTACCAACGGCTTTTGCTGTTA...,"MG197717|Human_coronavirus_OC43_strain_WZ-522,...",Betacoronavirus,2015-07-06,China,China,WPRO,genbank,genome,Betacoronavirus 1,NaN,"Zhu,Y., Chen,L., Xie,Z.",NaN

In [53]:

df_species=error.groupby(['species']).count()
df_species

,accession,taxa,seq,strain,virus,date,Geo_Location,country,region,db,segment,host,authors,publications
species,,,,,,,,,,,,,,
Betacoronavirus 1,394,394,394,394,394,394,390,390,390,394,394,322,394,162
Betacoronavirus sp.,8,8,8,8,8,8,8,8,8,8,8,8,8,0
Camel coronavirus HKU23,2,2,2,2,2,2,2,2,2,2,2,2,2,0
China Rattus coronavirus HKU24,2,2,2,2,2,2,2,2,2,2,2,2,2,2
Rabbit coronavirus HKU14,4,4,4,4,4,4,4,4,4,4,4,4,4,4

In [64]:
## remove half of them 
remove = error.sample(frac=0.7, random_state=1)
remove

,accession,taxa,seq,strain,virus,date,Geo_Location,country,region,db,segment,species,host,authors,publications
284,KF572817,KF572817|Human_coronavirus_OC43_strain_3582_06...,ATGTTTTTGATACTTTTAATTTCCTTACCAACGGCTTTTGCTGTTA...,KF572817|Human_coronavirus_OC43_strain_3582_06...,Betacoronavirus,2006-09-15,China: Beijing,China,WPRO,genbank,genome,Betacoronavirus 1,Homo sapiens,"Zhang,Y., Li,J., Xiao,Y., Zhang,J., Wang,Y., C...",25530469
29,KF906250,KF906250|Dromedary_camel_coronavirus_HKU23_str...,ATGTTTTCGATACTTTTAATTTCCTTACCAACGGCTTTTGCTGTTA...,KF906250|Dromedary_camel_coronavirus_HKU23_str...,Betacoronavirus,2013-05-15,United Arab Emirates: Dubai,United Arab Emirates,EMRO,genbank,genome,Betacoronavirus 1,Camelus bactrianus,"Woo,P.C., Lau,S.K., Wernery,U., Wong,E.Y., Tsa...",24655427
186,KF530078,KF530078|Human_coronavirus_OC43_strain_OC43/hu...,ATGTTTTTGATACTTTTAATTTCCTTACCAATGGCTTTTGCTGTTA...,KF530078|Human_coronavirus_OC43_strain_OC43/hu...,Betacoronavirus,1996-12-17,"USA: Nashville, TN",USA,PAHO,genbank,genome,Betacoronavirus 1,Homo sapiens,"Town,C.D., Halpin,R.A., Ransier,A., Fedorova,N...",NaN
291,JX513268,JX513268|Human_coronavirus_OC43_isolate_CU-H17...,ATGTTTTTGATACTTTTAATTTCCTTACCAACGGCTTTTGCTGTTA...,JX513268|Human_coronavirus_OC43_isolate_CU-H17...,Betacoronavirus,2010-03-18,Thailand,Thailand,SEARO,genbank,genome,Betacoronavirus 1,Homo sapiens,"Suwannakarn,K., Chieochansin,T., Vichiwattana,...",NaN
271,KF530095,KF530095|Human_coronavirus_OC43_strain_OC43/hu...,ATGTTTTTGATACTTTTAATTTCCTTACCAACGGCTTTTGCTGTTA...,KF530095|Human_coronavirus_OC43_strain_OC43/hu...,Betacoronavirus,1991-02-05,"USA: Nashville, TN",USA,PAHO,genbank,genome,Betacoronavirus 1,Homo sapiens,"Town,C.D., Halpin,R.A., Ransier,A., Fedorova,N...",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
176,LC494145,"LC494145|Bovine_coronavirus_IWT-21_RNA,_comple...",ATGTTTTTGATACTTTTAATTTCCTTACCAACGGCTTTTGCTGTTA...,"LC494145|Bovine_coronavirus_IWT-21_RNA,_comple...",Betacoronavirus,2016-12-15,Japan,Japan,WPRO,genbank,genome,Betacoronavirus 1,NaN,"Suzuki,T., Otake,Y., Uchimoto,S., Hasebe,A., G...",NaN
194,KF963233,KF963233|Human_coronavirus_OC43_isolate_HCoV-O...,ATGTTTTTGATACTTTTAATTTCCTTACCAATGGCTTTTGCTGTTA...,KF963233|Human_coronavirus_OC43_isolate_HCoV-O...,Betacoronavirus,2002-02-21,France,France,EURO,genbank,genome,Betacoronavirus 1,Homo sapiens,"Kin,N., Miszczak,F., Lin,W., Gouilh,M.A., Vabr...",26008694
198,KF530065,KF530065|Human_coronavirus_OC43_strain_OC43/hu...,ATGTTTTTGATACTTTTAATTTCCTTACCAATGGCTTTTGCTGTTA...,KF530065|Human_coronavirus_OC43_strain_OC43/hu...,Betacoronavirus,1990-01-17,"USA: Nashville, TN",USA,PAHO,genbank,genome,Betacoronavirus 1,Homo sapiens,"Town,C.D., Halpin,R.A., Ransier,A., Fedorova,N...",NaN
182,KF963229,KF963229|Human_coronavirus_OC43_isolate_HCoV-O...,ATGTTTTTGATACTTTTAATTTCCTTACCAACGGCTTTTGCTGTTA...,KF963229|Human_coronavirus_OC43_isolate_HCoV-O...,Betacoronavirus,1967-07-15,France,France,EURO,genbank,genome,Betacoronavirus 1,Homo sapiens,"Kin,N., Miszczak,F., Lin,W., Gouilh,M.A., Vabr...",26008694
358,LC506803,LC506803|Human_coronavirus_OC43_HCoV-OC43/Yama...,ATGTTTTTGATACTTTTAATTTCCTTACCAACGGCTTTTGCTGTTA...,LC506803|Human_coronavirus_OC43_HCoV-OC43/Yama...,Betacoronavirus,2012-02-15,Japan:Yamagata,Japan,WPRO,genbank,genome,Betacoronavirus 1,Homo sapiens,"Komabayashi,K., Matoba,Y., Aoki,Y., Tanaka,S.,...",NaN

In [65]:
new = pd.concat([df3, remove, remove]).drop_duplicates(keep=False)
new

,taxa,seq,strain,virus,accession,date,Geo_Location,country,region,db,segment,species,host,authors,publications
1112,JX169866|Murine_coronavirus_strain_JHM-WU-Dns2...,ATGCTGTTCGTCTTTATTTTACTATTACCCTCTTGTTTAGGGTATA...,JX169866|Murine_coronavirus_strain_JHM-WU-Dns2...,Betacoronavirus,JX169866,1947-08-14,USA,USA,PAHO,genbank,genome,Murine coronavirus,NaN,"Town,C.D., Halpin,R.A., Motley,J., Fedorova,N....",NaN
1111,"JX169867|Murine_coronavirus_strain_JHM.WU,_com...",ATGCTGTTCGTCTTTATTTTACTATTACCCTCTTGTTTAGGGTATA...,"JX169867|Murine_coronavirus_strain_JHM.WU,_com...",Betacoronavirus,JX169867,1947-08-14,USA,USA,PAHO,genbank,genome,Murine coronavirus,NaN,"Town,C.D., Halpin,R.A., Motley,J., Fedorova,N....",NaN
1101,KF530060|Human_coronavirus_OC43_strain_OC43/hu...,ATGTTTTTGATACTTTTAATTTCCTTACCAATGGCTTTTGCTGTTA...,KF530060|Human_coronavirus_OC43_strain_OC43/hu...,Betacoronavirus,KF530060,1985-01-08,"USA: Nashville, TN",USA,PAHO,genbank,genome,Betacoronavirus 1,Homo sapiens,"Town,C.D., Halpin,R.A., Ransier,A., Fedorova,N...",NaN
1079,KF530085|Human_coronavirus_OC43_strain_OC43/hu...,ATGTTTTTGATACTTTTAATTTCCTTACCAATGGCTTTTGCTGTTA...,KF530085|Human_coronavirus_OC43_strain_OC43/hu...,Betacoronavirus,KF530085,1987-01-22,"USA: Nashville, TN",USA,PAHO,genbank,genome,Betacoronavirus 1,Homo sapiens,"Town,C.D., Halpin,R.A., Ransier,A., Fedorova,N...",NaN
1077,KF530087|Human_coronavirus_OC43_strain_OC43/hu...,ATGTTTTTGATACTTTTAATTTCCTTACCAATGGCTTTTGCTGTTA...,KF530087|Human_coronavirus_OC43_strain_OC43/hu...,Betacoronavirus,KF530087,1987-03-05,"USA: Nashville, TN",USA,PAHO,genbank,genome,Betacoronavirus 1,Homo sapiens,"Town,C.D., Halpin,R.A., Ransier,A., Fedorova,N...",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163,MT375475|Severe_acute_respiratory_syndrome_cor...,ATGTTTGTTTTTCTTGTTTTATTGCCACTAGTCTCTAGTCAGTGTG...,MT375475|Severe_acute_respiratory_syndrome_cor...,Betacoronavirus,MT375475,2020-04-08,USA: WA,USA,PAHO,genbank,genome,SARS-CoV2,Homo sapiens,"Roychoudhury,P., Greninger,A., Jerome,K.",NaN
133,MT385417|Severe_acute_respiratory_syndrome_cor...,ATGTTTGTTTTTCTTGTTTTATTGCCACTAGTCTCTAGTCAGTGTG...,MT385417|Severe_acute_respiratory_syndrome_cor...,Betacoronavirus,MT385417,2020-04-08,USA: CA,USA,PAHO,genbank,genome,SARS-CoV2,Homo sapiens,NaN,NaN
125,MT385471|Severe_acute_respiratory_syndrome_cor...,ATGTTTGTTTTTCTTGTTTTATTGCCACTAGTCTCTAGTCAGTGTG...,MT385471|Severe_acute_respiratory_syndrome_cor...,Betacoronavirus,MT385471,2020-04-08,USA: CA,USA,PAHO,genbank,genome,SARS-CoV2,Homo sapiens,NaN,NaN
104,MT396266|Severe_acute_respiratory_syndrome_cor...,ATGTTTGTTTTTCTTGTTTTATTGCCACTAGTCTCTAGTCAGTGTG...,MT396266|Severe_acute_respiratory_syndrome_cor...,Betacoronavirus,MT396266,2020-04-24,Netherlands: Milheeze,Netherlands,EURO,genbank,genome,SARS-CoV2,Mustela lutreola,"Oreshkova,N., Vreman,S., Molenaar,R.J., Harder...",NaN
343,MT326173|Severe_acute_respiratory_syndrome_cor...,ATGTTTGTTTTTCTTGTTTTATTGCCACTAGTCTCTAGTCAGTGTG...,MT326173|Severe_acute_respiratory_syndrome_cor...,Betacoronavirus,MT326173,2020-07-15,USA,USA,PAHO,genbank,genome,SARS-CoV2,Homo sapiens,"Roychoudhury,P., Greninger,A., Jerome,K.",NaN

In [66]:
## save sequence and metadata
new_seq = new.filter(['taxa','seq'], axis=1)
## to fasta
new_seq.to_csv("new_seq.tab", sep="\t",index = False,header=False)
## covert csv to fasta
new_seq = SeqIO.parse("new_seq.tab", "tab")
SeqIO.write(new_seq, "new_seq_nextstrain.fasta", "fasta")

941

In [67]:

##get meta.csv
new_meta= new.drop(columns=['taxa','seq'])
new_meta.to_csv('new_meta_neststrain.csv', index = False)
new_meta

,strain,virus,accession,date,Geo_Location,country,region,db,segment,species,host,authors,publications
1112,JX169866|Murine_coronavirus_strain_JHM-WU-Dns2...,Betacoronavirus,JX169866,1947-08-14,USA,USA,PAHO,genbank,genome,Murine coronavirus,NaN,"Town,C.D., Halpin,R.A., Motley,J., Fedorova,N....",NaN
1111,"JX169867|Murine_coronavirus_strain_JHM.WU,_com...",Betacoronavirus,JX169867,1947-08-14,USA,USA,PAHO,genbank,genome,Murine coronavirus,NaN,"Town,C.D., Halpin,R.A., Motley,J., Fedorova,N....",NaN
1101,KF530060|Human_coronavirus_OC43_strain_OC43/hu...,Betacoronavirus,KF530060,1985-01-08,"USA: Nashville, TN",USA,PAHO,genbank,genome,Betacoronavirus 1,Homo sapiens,"Town,C.D., Halpin,R.A., Ransier,A., Fedorova,N...",NaN
1079,KF530085|Human_coronavirus_OC43_strain_OC43/hu...,Betacoronavirus,KF530085,1987-01-22,"USA: Nashville, TN",USA,PAHO,genbank,genome,Betacoronavirus 1,Homo sapiens,"Town,C.D., Halpin,R.A., Ransier,A., Fedorova,N...",NaN
1077,KF530087|Human_coronavirus_OC43_strain_OC43/hu...,Betacoronavirus,KF530087,1987-03-05,"USA: Nashville, TN",USA,PAHO,genbank,genome,Betacoronavirus 1,Homo sapiens,"Town,C.D., Halpin,R.A., Ransier,A., Fedorova,N...",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
163,MT375475|Severe_acute_respiratory_syndrome_cor...,Betacoronavirus,MT375475,2020-04-08,USA: WA,USA,PAHO,genbank,genome,SARS-CoV2,Homo sapiens,"Roychoudhury,P., Greninger,A., Jerome,K.",NaN
133,MT385417|Severe_acute_respiratory_syndrome_cor...,Betacoronavirus,MT385417,2020-04-08,USA: CA,USA,PAHO,genbank,genome,SARS-CoV2,Homo sapiens,NaN,NaN
125,MT385471|Severe_acute_respiratory_syndrome_cor...,Betacoronavirus,MT385471,2020-04-08,USA: CA,USA,PAHO,genbank,genome,SARS-CoV2,Homo sapiens,NaN,NaN
104,MT396266|Severe_acute_respiratory_syndrome_cor...,Betacoronavirus,MT396266,2020-04-24,Netherlands: Milheeze,Netherlands,EURO,genbank,genome,SARS-CoV2,Mustela lutreola,"Oreshkova,N., Vreman,S., Molenaar,R.J., Harder...",NaN
343,MT326173|Severe_acute_respiratory_syndrome_cor...,Betacoronavirus,MT326173,2020-07-15,USA,USA,PAHO,genbank,genome,SARS-CoV2,Homo sapiens,"Roychoudhury,P., Greninger,A., Jerome,K.",NaN